<!-- https://cs50.harvard.edu/x/2020/tracks/web/finance/ -->

{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}

<table class="table table-striped">
  <thead>
    <tr>
      <!-- table headers -->
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Transacted</th>
      <th>Buy or Sell?</th>
    </tr>
  </thead>
  <!-- Table body -->
  <tbody>
    <!-- Loop to create table rows containing each list of the passed in dicts -->
    {% for dictionary in history_dict %}
    <tr>
      <td>{{ dictionary["symbol"] }}</td>
      <td>{{ dictionary["shares"] }}</td>
      <td>{{ dictionary["price"] }}</td>
      <td>{{ dictionary["dateandtime"] }}</td>
      <td>{{ dictionary["buyvssell"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
